* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 10px auto;
  max-width: 800px;
}

.search {
  display: block;
  margin: 0 auto;

  &-input {
    margin: 0 auto;
    width: 400px;
    height: 24px;
  }

  &:focus {}
}

.cards {

  &_item {
    height: 250px;
    width: 250px;
  }
}

.prevnext {

}